{% extends "water/dashboard/dashboard_customers_served_active_statistics.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load static %}
{% block contentbody %}



				
<div class="row">
	<div class="col-md-9">
		<div class="card">
			<div class="header">
				
				<h4 class="title">Customers Served</h4>
				<br>
				{% csrf_token %}
				<p> </p>
				</div>
				<div class="content table-responsive table-full-width">
                                {% render_table data %}
								</div>
							</div>	
						</div>		
					</div>	
								
				
				
				
<script>
	
	



</script>


                                    
                                    
{% endblock %}                                    
