{% extends "water/superuser/dashboard.html" %}

{% block contentbody %}



<div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            
                            <div class="content all-icons">
                                <div class="row">
								<a class="red" href="promocodes">
                                  <div class="font-icon-list col-xs-6 col-sm-3">
                                    <div class="font-icon-detail"><i href="promocodes" class="pe-7s-ticket"></i>
                                      <input type="text" value="Promo Codes">
                                    </div>
                                  </div>
                                  </a>
                                  <a class="red" href="sales">	
                                  <div class="font-icon-list col-xs-6 col-sm-3">
                                    <div class="font-icon-detail"><i href="sales" class="pe-7s-cash"></i>
                                      <input type="text" value="Sales">
                                    </div>

                                  </div>
                                  </a>
                                  <a class="red" href="customersserved">	
                                  <div class="font-icon-list col-xs-6 col-sm-3">
                                    <div class="font-icon-detail"><i href="customersserved" class="pe-7s-users"></i>
                                      <input type="text" value="Customers Served">
                                    </div>

                                  </div>
                                  </a>
                                  <a class="red" href="statistics">
                                  <div class="font-icon-list col-xs-6 col-sm-3">
                                    <div class="font-icon-detail"><i href="statistics" class="pe-7s-graph1"></i>
                                      <input type="text" value="Statistics">
                                    </div>
                                   </div>
                                   </a>
                                </div>
							<div class="row">
								
                                   <a class="red" href="update">
                                  <div class="font-icon-list col-xs-6 col-sm-3">
                                    <div class="font-icon-detail"><i href="update" class="pe-7s-refresh-2"></i>
                                      <input type="text" value="Update Data">
                                    </div>
                                   </div>
                                   </a>
								</div>
                            </div>
                        </div>
                    </div>

                </div>
                                    
                                    
                                    
{% endblock %}                                    
