{% extends "water/superpage.html" %}

{% block content %}
<div class ="container" style="width:100%; background-color:#CCCCCC;">meta
<br><br><br><br>
	<div class="row" align="center">
			<div class="col-md-6 col-md-offset-3">
		<form action="/water/monthmetapolishs" method="post" id="sub">
				{% csrf_token %}
				{{ user }}
				<br><br>
				{{ form }}
				
			
		</form>
		</div>
		
	</div>		
	<br><br>
<div class="row" align="center">
		
			
		<button id="test" class="btn btn-success btn-block" style="width:25%" width= 250px onclick="month()" >Show</button>
		
	</div>
	<br><br>
	{% block month %}
	
	{% endblock %}			
</div>
{% endblock %}
